body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa
}

header {
    text-align: center;
}

section h2 {
    border-bottom: 2px solid #000;
}

.container {
    background-color: #fff;
    max-width: 900px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.badge {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    margin: 2px;
}